<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
    不落阁 - 文章专栏
{% endblock %}

{% block extCSS %}
    {{ block.super }}
    <!--本页样式表-->
    <link href="{% static 'css/article.css' %}" rel="stylesheet" />
{% endblock %}
<!DOCTYPE html>


{% block content %}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="{% url 'home:home' %}" title="网站首页">网站首页</a>
                <a><cite>文章专栏</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
{#                    <div class="shadow" style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">#}
{#                        未搜索到与【<span style="color: #FF5722;">keywords</span>】有关的文章，随便看看吧！#}
{#                    </div>#}
                </div>
                {% verbatim %}
                <script type="text/html" id="show_article">
                {{ if articles }}
                {{ each articles as article }}
                <div class="article shadow">
                        <div class="article-left">
                            <img src="/static/images/cover/201703181909057125.jpg" alt="{{ article.title }}" />
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="/article/detail/{{ article.id }}/">{{ article.title }}</a>
                            </div>
                            <div class="article-abstract">
                                {{ article.abstract }}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ article.create_time }}</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ article.author }}</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ article.tag }}</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ article.count_of_read }}</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ article.count_of_comment }}</span>
                        </div>
                    </div>
                {{ /each }}
                {{ else }}
                <div class="shadow" style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">
                        该分类还没有文章
                    </div>
                {{ /if }}
                </script>
                {% endverbatim %}
                <div class="blog-main-right">
                    <div class="blog-search">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="search-keywords  shadow">
                                    <input type="text" name="keywords" lay-verify="required" placeholder="输入关键词搜索" autocomplete="off" class="layui-input">
                                </div>
                                <div class="search-submit  shadow">
                                    <a class="search-btn" lay-submit="formSearch" lay-filter="formSearch"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>


                    </div>
                    {% verbatim %}
                    <script type="text/html" id="show_tags">
                        {{ each tags as tag }}
                        <a href="javascript:void(0)" onclick="get_article_by_tag({{ tag.tag_id }})">{{ tag.tag_name }}</a>
                        {{ /each }}
                        <div class="clear"></div>
                    </script>
                    {% endverbatim %}

                    <div class="blog-module shadow">
                        <div class="blog-module-title">作者推荐</div>
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">Web安全之跨站请求伪造CSRF</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC 防范跨站请求伪造（CSRF）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">C#基础知识回顾-扩展方法</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（一）（HTML篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（二）（CSS篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（三）（JS篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">写了个Win10风格快捷菜单！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC自定义错误页</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC制作404跳转（非302和200）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（一）（HTML篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC制作404跳转（非302和200）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC 防范跨站请求伪造（CSRF）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（三）（JS篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（二）（CSS篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">写了个Win10风格快捷菜单！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">常用正则表达式</a></li>
                        </ul>
                    </div>
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extJS %}
    {{ block.super }}
    <script type="text/javascript">
        layui.use(['jquery'], function () {
            var $ = layui.jquery;
            $('.fa-file-text').parent().parent().attr('class', 'layui-nav-item layui-this');
            {#如果url中传递了参数，则请求分类文章，否则请求全部文章#}
            if (location.search){
                var url = '/article/tag/'+location.search.split('=')[1]
                $.get(url,function (data) {
                    if (data.code == 200){
                        var article_html = template('show_article',{articles:data.article_list})
                        $('.blog-main-left').html(article_html)
                    }else if(data.code == 0){
                        var article_html = template('show_article',{articles:data.article_list})
                        $('.blog-main-left').html(article_html)
                    }
                })
            }else {

                $.get(url='/article/all/', function (data) {
                    if (data.code == 200){
                        var article_html = template('show_article',{articles:data.article_list})
                        $('.blog-main-left').html(article_html)
                    }
                });
            }
            {#加载分类#}
            $.get(url='/article/tags/',function (data) {
                if (data.code == 200){
                    var tag_html = template('show_tags', {tags:data.tags})
                    $('.article-category').append(tag_html)
                }
            });
        });

        {#分类点击，动态加载分类查询结果#}
        function get_article_by_tag(id) {
            {#发送请求的url#}
            var get_url = '/article/tag/'+id + '/';
            {#地址栏展示的url,只更新不跳转页面#}
            var url = '/article/?tag='+id;
            history.replaceState('更新当前url',null,url)
            layui.use(['jquery'], function () {
                var $ = layui.jquery;
                $.get(get_url,function (data) {
                    if (data.code == 200){
                        var article_html = template('show_article',{articles:data.article_list})
                        $('.blog-main-left').html(article_html)
                    }else if(data.code == 0){
                        var article_html = template('show_article',{articles:data.article_list})
                        $('.blog-main-left').html(article_html)
                    }
                })
            })
        }


    </script>
{% endblock %}